<!DOCTYPE html>
<html><!--Creamos una página web de prueba -->
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Página Web | Mi App</title>
</head>

<body>